extends layout

block content
  div(class="container")
    h1 My Contacts
    input(type='text',data-type='search',id='test')
    each contact in contact_data
      div(data-role="collapsible",data-filter="true",data-input='#test')
        h3= contact.name
        table(data-role='table',data-mode='reflow')
          thead
            tr
              th Address
              th Email
              th Phone
              th Birthday
              th Other
          tbody
            tr
              td #{contact.address}
              td 
                a(href="/email?to=#{contact.email}") #{contact.email}
              td #{contact.phone}
              td #{contact.birthday}
              td #{contact.general}
        img(src="/showImage?id=#{contact._id}",height="120",weight="100")
        br
        a(href="/editContact/?id=" + contact._id,data-ajax="false",data-role="button",data-icon="gear",data-inline="true") Edit
        a(href="/deleteContact/?id=" + contact._id,data-ajax="false",data-role="button",data-icon="delete",data-inline="true") Delete
    br
    a(href="/addContact",data-role="button",data-icon="plus",data-inline="true") Add new contact
    a(href="/logout",data-role="button",data-icon="back",data-inline="true") Logout
    each contact in contact_data
      p(id="birthday") #{((new Date().toJSON().slice(6,10) == contact.birthday.slice(6,10))?"It's  "+contact.name+"'s birthday!":"")} 